/* Styles for Index and Home */


/* Explore Button */
/* The Button */
.exploreBtn {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  background: #333;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  margin-top: 20px;
  width: 150px;
}

/* What Happens When the Button is Hovered Over */
.exploreBtn:hover { 
  transform: scale(1.05);  
  color: #C75100;
}
