/* Layout */


/* Gloabal Styles */
/* Font Styles */
:root {
    --font-main: 'Arial', sans-serif;     
    --font-header: 'Georgia', serif;  
    --accent: #e0e0e0;
}

/* Page Style Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Styles */
/* Wrapper of all navigation and buttons */
nav {
  display: table;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  table-layout: fixed;
}

/* List that holds all navigation items */
nav ul {
  display: table-row;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Individual navigation item (one per link) */
nav ul li {
  display: table-cell;
  text-align: center;
}

/* The Style of each individual link */
nav ul li a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
}

/* The Dynamic style when the button is hovered over */
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 6px;  
  color: #f2f2f2;
}

/* Containers */
/* Used to contain content and contrast "main" */
.contentContainer {
    background: rgb(255,255,255,1);
    padding: 20px;
    border-radius: 6px;
    max-width: 800px;
    margin: 0 auto;
}

/* Temporary Container to show construction */
.constructionContentContainer {
    color: red;
    background: rgb(255,255,255,1);
    padding: 20px;
    border-radius: 6px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}


/* Entire Visual Page Styles */
/* Full Height of the Screen */
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
    line-height: 1.6;
    min-height: 100vh;
    border-bottom: 2px solid var(--accent);
    background-color: #111;
}


/* Header Styles */
/* Actual Header Section */
header {
    color: black;
    background-color: #C75100;
    padding: 1.5rem;
    text-align: center;
}

/* Header Title */
header h1 {
    font-family: var(--font-header);
}


/* Main Part of Content Styles */
/* Space Between the Header and Footer */
main {
    flex: 1;
    padding: 2rem; 
    text-align: center;
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
}


/* Footer Styles */
/* Actual Footer Section */
footer {
    color: black;
    background-color: #C75100;
    padding: 1.5rem;
    text-align: center;
}

/* Main Content of the Footer */
.footer-Content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

/* Our Shoutout at the Bottom */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid var(--accent);
    padding-top: 15px;
}
