/* Layout1 */


/* Gloabal Styles */
/* Font Styles */
:root {
    --font-main: 'Verdana', 'Geneva', sans-serif;     
    --font-header: 'Rock Salt', 'Georgia', serif;  
    --accent: #e0e0e0;
}

/* Page Style Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Entire Visual Page Styles */
/* Full Height of the Screen */
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
    line-height: 1.6;
    min-height: 100vh;
    border-bottom: 2px solid var(--accent);
    background-color: #111;
}


/* Header Styles */
/* Actual Header Section */
header {
    color: black;
    background-color: #C75100;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    position: sticky; 
    flex-direction: column; 
    top: 0;
    border-bottom: 3px solid var(--accent);
}

/* Left part of Header */
.header-left {
    margin-right: auto;
    position: absolute;
    left: 1.5rem; 
    top: 50%; 
    transform: translateY(-50%); 
}

/* Main part of Header */
.header-main {
    text-align: center;
    margin: 0 auto;
}

/* Header Title */
header h1 {
    font-family: var(--font-header);
}


/* Main Part of Content Styles */
/* Space Between the Header and Footer */
main {
    flex: 1;
    padding: 2rem; 
    text-align: center;
}


/* Footer Styles */
/* Actual Footer Section */
footer {
    color: black;
    background-color: #C75100;
    border-top: 3px solid var(--accent);
}

/* Main Content of the Footer */
.footer-content {
    display: flex;
    justify-content: space-between;  /* pushes text left, logo right */
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    gap: 2rem;
    padding: 10px;
}

/* Left side of the Main Content of the Footer */
.footer-content-left { 
    text-align: left;
}

/* Left side of the Main Content of the Footer */
.footer-content-right {
    text-align: right;
}

/* Our Shoutout at the Bottom */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid var(--accent);
    padding-top: 15px;
}
